.row {
  margin: 0 0 15px 0;
}

.responses > div {
  margin-top: 15px;
}

.container {
  padding: 0;
  margin: 0 30px;
}

.question {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.menu {
  width: 100%;
}

form {
  width: 100%;
}
