.row {
  margin: 0 0 15px 0;
}

.responses>div {
  margin-top: 15px;
}

.container {
  padding: 0;
  margin: 0 30px;
}

.question {
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.fullWidth {
  width: 100%;
}

.header>img {
  padding-top: 5px;
}

.navbar-header {
  background-color: #033677;
  height: 80px;
}

.navbar-brand {
  padding: 5px 0 0 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-toggle {
  margin-top: 22px;
}
