.row {
  margin: 0 0 15px 0;
}

.responses > div {
  margin-top: 15px;
}

.container {
  padding: 0;
  margin: 0 30px;
}

.question {
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.fullWidth {
  width: 100%;
}

.header {
  background-color: #033677;
  height: 80px;
}
.header > img {
  padding-top:5px;
}
