<script id="responses" type="text/html">
  {{#answers}}
    <div class="col-xs-6" score="{{score}}" nextId="{{next_id}}"><a class="btn-success btn btn-block btn-lg">{{label}}</a></div>
    <!-- <div class="col-xs-6" ><a class="btn-danger btn btn-block btn-lg">{{label}}</a></div> -->
  {{/answers}}
</script>

<script id="question" type="text/html">=
  <h1>{{question}}</h1>
</script>
